[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse IDE
Icon=/opt/eclipse/icon.xpm
Exec=env UBUNTU_MENUPROXY=0 eclipse
Terminal=false
Categories=Development;IDE;Java;
StartupWMClass=Eclipse