[Desktop Entry]
Encoding=UTF-8
Name=Sublime Text
Comment=Sublime Text 3
Exec=/usr/bin/subl
Icon=/opt/sublime_text/Icon/256x256/sublime-text.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;TextEditor;
StartupNotify=true